/* vim: set fs=css */

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  line-height: 1.5em;
  color: #1b2122;
  background-color: #b1ccce;

  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

h1 {
  margin: 0;
  padding: 0.5em 0;
}

table {
  border-collapse: collapse;
  margin-left: -1em;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.125);
}

tr.header {
  background: transparent;
}

tr.header th:first-child, th.left-header {
  text-align: left;
}

td {
  text-align: center;
}

th.left-header, td {
  padding: 1em 2em;
  min-width: 15ch;
}

th.left-header, th {
  padding-left: 1em;
}

[id^=pkg-]:target {
  background-color: #28a6af;
}

.unsupported {
  background-color: #e35966;
}

/* basically manually applying rgba(0, 0, 0, 0.125) overlay. */
tr:nth-child(even) .unsupported {
  background-color: #c74e59;
}

.outdated {
  background-color: #be7c4d;
}

/* basically manually applying rgba(0, 0, 0, 0.125) overlay. */
tr:nth-child(even) .outdated {
  background-color: #a66d43;
}

.latest {
  background-color: #3ab795;
}
tr:nth-child(even) .latest {
  background-color: #33a082;
}
