<!doctype html>
<html>
  <head>
    <title>OS Package Versions</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="icon" type="image/png" href="/favicon.png">-->

    <style>
    </style>
  </head>
  <body>
    <h1>Operating System Package Versions</h1>

    {{ table }}
  </body>
</html>
