<!doctype html>
<html>
  <head>
    <title>OS Package Versions</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- inline favicon to avoid unneeded network request -->
    <!-- (not specifying it at all will make a network request, too.) -->
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA7SURBVDhPY9h45hxJiM4aGBiw6EcTpLMGEB9NGsMI+msAIrgiTNVANCAagAioFKtqIMIuigfRWsOZcwC3+B1D96dGPAAAAABJRU5ErkJggg==">

    <style>
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after { box-sizing: inherit; }

body {
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  line-height: 1.5em;
  color: #1b2122;
  background-color: #b1ccce;

  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

h1 {
  margin: 0;
  padding: 0.5em 0;
}

table {
  border-collapse: collapse;
  margin-left: -1em;
}

tr:nth-child(even) { background-color: rgba(0, 0, 0, 0.125); }

tr.header th:first-child, th.left-header { text-align: left; }
td { text-align: center; }

th, td {
  padding: 1em;
  min-width: 15ch;
}

[id^=pkg-]:target { background-color: #28a6af; }

.unsupported { background-color: #e35966; }
/* basically manually applying rgba(0, 0, 0, 0.125) overlay. */
tr:nth-child(even) .unsupported { background-color: #c74e59; }

.outdated { background-color: #be7c4d; }
/* basically manually applying rgba(0, 0, 0, 0.125) overlay. */
tr:nth-child(even) .outdated { background-color: #a66d43; }

.latest { background-color: #3ab795; }
tr:nth-child(even) .latest { background-color: #33a082; }
    </style>
  </head>
  <body>
    <main>
      <h1>Operating System Package Versions</h1>

      <p>This page provides the versions of packages that are available across different operating systems.</p>
      <p>Maintained by <a href="https://smallest.dog">@duckinator</a>. Source is <a href="https://github.com/duckinator/versions.do1g.com">available on GitHub</a>.</p>
      <p>You can also download the <a href="/data">raw data</a>.</p>
      <p></p>
      <p>Last updated: {{ date }}</p>

{{ table }}


      <p></p>
      <p>* This version is still supported by the developers.</p>
      <p>&dagger; This version is still supported by the developers, but there are newer releases.</p>
      <p>&ddagger; This version is no longer supported by the developers.</p>

      <h2>Sources</h2>

      Details on what versions are supported can be found on these pages:
      <ul>
        <li><a href="{{ clang }}">Clang version information (they don't explicitly state what's supported, so I assume "latest major version only")</a></li>
        <li><a href="{{ gcc }}">GCC version information</a></li>
        <li><a href="{{ python3 }}">Python version information</a></li>
        <li><a href="{{ ruby }}">Ruby version information</a></li>
    </main>
  </body>
</html>
