<!doctype html>
<html>
  <head>
    <title>OS Package Versions</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="icon" type="image/png" href="/favicon.png">-->

    <link rel="stylesheet" href="application.css">
  </head>
  <body>
    <main>
      <h1>Operating System Package Versions</h1>

      <p>This page provides the versions of packages that are available across different operating systems.</p>
      <p>Maintained by <a href="https://smallest.dog">@duckinator</a>. Source is <a href="https://github.com/duckinator/versions.boop.ws">available on GitHub</a>.</p>
      <p>You can also download the <a href="/data">raw data</a>.</p>
      <p></p>
      <p>Last updated: {{ date }}</p>

{{ table }}


      <p></p>
      <p><sup>[1]</sup> This version is still supported by the developers.</p>
      <p><sup>[2]</sup> This version is still supported by the developers, but there are newer releases.</p>
      <p><sup>[3]</sup> This version is no longer supported by the developers.</p>
    </main>
  </body>
</html>
